.bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.bar-container-large {
    margin: 0.75rem 0 0 1rem;
}

.bar-container-small {
    margin: 0.25rem 0 0.75rem 0;
}

.bar-bg {
    width: 32rem;
    border-radius: 1rem;
}

.bar-bg-large {
    height: 2rem;
    background: repeating-linear-gradient(
            -45deg,
            transparent 0,
            transparent 2px,
            rgba(156, 154, 154, 0.4) 2px,
            rgba(156, 154, 154, 0.4) 4px
    );
}

.bar-bg-small {
    height: 1.5rem;
    background: repeating-linear-gradient(
            -45deg,
            transparent 0,
            transparent 1.5px,
            rgba(179, 133, 201, 0.5) 1.75px,
            rgba(179, 133, 201, 0.4) 3px
    );
}

.bar {
    height: 100%;
    min-width: 5%;
    left: 0;
    top: 0;
    border-radius: 1rem;
    display: flex;
    justify-content: right;
}

.bar-fill-gradient {
    background: linear-gradient(110.31deg, #86AECB 14.04%, rgba(134, 174, 203, 0.94) 14.05%, #B385C9 84.76%);
}

.bar-fill-solid {
    background-color: #B385C9;
}

.saved-amount {
    font-weight: 800;
    color: #ffffff;
    display: block;
    margin: auto 0.5rem;
}

.saved-amount-large {
    font-size: 1.25rem;
}

.saved-amount-small {
    font-size: 1rem;
}

.total-amount {
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    margin: auto 0.5rem;
    color: #9c9a9a;
}

.total-amount-large {
    font-size: 1.25rem;
}

.total-amount-small {
    font-size: 1rem;
}
