.sidebar {
    position: relative;
    left: -1.2rem;
    width: 6.25rem;
    min-height: 100%;
    background: #FFFFFF;
    filter: blur(0.15rem);
    border-radius: 1.2rem;
    border: 2px solid rgba(201, 201, 201, 0.6);
    transition: all 0.5s;
}

.sidebar:hover {
    width: 12.5rem;
}
