/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.navigation-header {
    background: var(--gradient-1);
}

.app-name {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: white;
    margin: 0;
    padding: 0.5rem 0 1rem 1rem;
    text-align: center;
}
