.goal-months-autosave-container {
    display: flex;
    flex-direction: column;
}

.text-container {
    padding: 0.25rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.15rem;
}

.text-highlight {
    display: inline;
    font-weight: 600;
    margin: 0 0.3rem;
}

.text-normal {
    display: inline;
    font-weight: 400;
    margin: 0;
}

.svg-container-calendar-repeat {
    height: 1.8rem;
    width: 1.8rem;
}

@media (min-width: 1450px) {
    .text-highlight, .text-normal {
        font-size: 1.25rem;
    }

}
