.goal-section--home-page {
    height: 98%;
    width: 60%;
    max-width: 60%;
    margin-left: 0.75rem;
    background: var(--gradient-1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    position: relative;
}

.goal-info-container--home-page {
    width: 100%;
    height: 80%;
    transition: all 0.25s ease;
    position: absolute;
    top: 22%;
    left: 0;
}

.goal-name--home-page {
    font-weight: 800;
    font-size: 1.75rem;
    color: #2F2F2F;
    margin-top: 0;
    margin-left: 6%;
}

.goal-switching-btns {
    position: absolute;
    bottom: 2%;
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.goal-switching-btn {
    height: 1rem;
    flex: 0 1 17.5%;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    margin: 0 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.goal-switching-selected {
    width: 92.5%;
    height: 57%;
    position: relative;
    background-color: #FFFFFF;
    border-radius: inherit;
}
