section {
    position: relative;
    border-radius: 1.2rem;
    min-height: 12rem;
}

/* class for adding blurred white background */
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    filter: blur(0.15rem);
    border-radius: inherit;
    z-index: -1;
    border: 2px solid rgba(201, 201, 201, 0.6);
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    top: 6.5%;
    left: 2.5%;
    margin: 0;
    color: #2F2F2F;
    position: absolute;
}

@media (max-height: 1050px) {
    .section-header {
        font-size: 1.6rem;
    }
}
