section {
    position: relative;
    border-radius: 1.2rem;
}

.summary-section {
    min-height: 17rem;
    height: 20%;
}

.list-section {
    height: 72.5%;
    margin-top: 2.5rem;
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1rem 0 1.5rem 1.5rem;
    margin: 0.25rem 0 0 0.5rem;
    width: 100%;
    color: #2F2F2F;
}
