section {
    position: relative;
    --section-width: 80vw;
    width: var(--section-width);
    border-radius: 1.2rem;
}

.summary-section {
    min-height: 17rem;
    height: 20%;
}

.list-section {
    min-height: 42rem;
    height: 72.5%;
    margin-top: 2.5rem;
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1rem 0 1.5rem 1.5rem;
    margin: 0.25rem 0 0 0.5rem;
    width: 100%;
    color: #2F2F2F;
}

.goals-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.goals-list {
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
