.sidebar {
    position: relative;
    left: -1.2rem;
    width: 6.2rem;
    min-height: 100%;
    border-radius: 1.2rem;
    --sidebar-animation: ease-in;
    transition: all 0.25s var(--sidebar-animation);
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.link-container {
    position: relative;
    width: 5.2rem;
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.25s var(--sidebar-animation);
    overflow: hidden;
}

.link {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s var(--sidebar-animation);
    color: white;
    z-index: 1;
    padding: 0.25rem 0 0.25rem 0.75rem;
}

.link svg {
    position: relative;
    min-height: 3.125rem;
    min-width: 3.125rem;
    max-width: 3.125rem;
    max-height: 3.125rem;
    z-index: 2;
    margin-left: 0.2rem;
}

.link p {
    position: relative;
    margin-left: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #9E98CA;
    opacity: 0;
    transition: all 0.25s var(--sidebar-animation);
    z-index: 2;
}

.home-link {
    justify-content: flex-start;
    border-radius: inherit;
}

.main-links {
    justify-content: center;
}

/* Add borders to separate links using pseudoelements */
.link:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    min-height: 97%;
    left: 18%;
    transition: all 0.25s;
    border-top: 2px solid rgba(201, 201, 201, 0.4);
    z-index: -1;
}

.home-link a:after {
    border-top: none;
    border-bottom: 2px solid rgba(201, 201, 201, 0.4);
}

/* Add bottom border for the calendar link */
.link:nth-child(4):after {
    border-bottom: 2px solid rgba(201, 201, 201, 0.4);
}

.settings-link {
    bottom: -2px;
    justify-content: flex-end;
    border-radius: inherit;
}

.sidebar:hover {
    width: 14rem;
}

.sidebar:hover .link-container {
    width: 13rem;
}

.sidebar:hover p {
    opacity: 100%;
}

.sidebar:hover span {
    width: 80%;
}

/* Fill the hovered link with the sliding animation from the left side */
.link:before {
    content: "";
    position: absolute;
    left: -200%;
    top: 0;
    width: 200%;
    height: 100%;
    color: white;
    background: linear-gradient(88.2deg, rgba(134, 174, 203, 0.5) 2.5%, rgba(179, 133, 201, 0.3) 50.66%);
    transition: all 0.35s ease-in;
    z-index: 0;
}

.link:hover svg path {
    fill: white;
}

.link:hover:before {
    transform: translateX(100%);
}

/* Styling specific to the current link */
.current-link {
    background: linear-gradient(88.2deg, rgba(134, 174, 203, 0.6) 1.5%, rgba(179, 133, 201, 0.198) 104.08%);
}

.current-link svg path {
    fill: white;
}

.current-link p {
    color: white;
    font-weight: 600;
}

.current-link:after {
    border: none;
}

.current-link + a:after {
    border-top: none;
}

.current-link:before {
    left: 0;
    top: 0;
    width: 0.35rem;
    height: 100%;
    color: white;
    background: rgba(134, 174, 203, 0.75);
    z-index: 0;
}

.current-link:hover:before {
    transform: none;
}

.current-link:after {
    opacity: 0;
}

/* Increase the border width when hovering */
.sidebar:hover .link:after {
    width: 75%;
    left: 10%;
}

/* Hide borders when hovering over links */
.link:hover:after {
    opacity: 0;
}

.link:hover + a:after {
    opacity: 0;
}

/* Make link icon and text white upon hovering */
.link:hover svg {
    fill: white;
}

.link:hover p {
    color: white;
    font-weight: 600;
}
