.container {
  width: 680px;
  height: 600px;
  stroke: #c9c9c9;
  stroke-opacity: 60%;
  background-color: #ffffff;
  border-radius: 1.2rem;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  align-self: center;
}

.listHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1rem 0 0 1rem;
  margin: 0;
  color: #2f2f2f;
}

.listContainer {
  margin: 1rem 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.buttonsContainer {
  margin-right: 0.9em;
  display: flex;
  align-self: flex-end;
}