/* Global CSS class for adding blurred white background */
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    filter: blur(0.15rem);
    border-radius: inherit;
    z-index: -1;
    border: 2px solid rgba(201, 201, 201, 0.6);
}
