/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.navigation-header {
    background: var(--gradient-1);
    height: 8vh;
    min-height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.app-name {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: white;
    margin: 0;
    text-align: center;
}
