.summary-card {
    box-sizing: border-box;
    width: 7rem;
    min-width: 7rem;
    height: 7rem;
    min-height: 7rem;
    border-radius: 1.5rem;
    border: 1px solid rgba(201, 201, 201, 0.9);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(123.02deg, rgba(201, 133, 192, 0.0594) 5.21%, rgba(134, 174, 203, 0.1332) 100%);
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.data {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #9E98CA;
    margin: auto 0;
    text-align: center;
    padding-top: 1rem;
}

.category {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(156, 154, 154, 0.9);
    text-align: center;
    padding-bottom: 0.5rem;
}

/*@media (max-width: 1400px) or (max-height: 1050px) {*/
/*    .summary-card {*/
/*        width: 8rem;*/
/*        height: 8rem;*/
/*    }*/

/*    .data {*/
/*        font-size: 2.5rem;*/
/*    }*/

/*    .category {*/
/*        font-size: 1.25rem;*/
/*    }*/
/*}*/

/*@media (max-width: 1270px) or (max-height: 975px) {*/
/*    .summary-card {*/
/*        width: 7rem;*/
/*        height: 7rem;*/
/*    }*/

/*    .data {*/
/*        font-size: 2.25rem;*/
/*    }*/

/*    .category {*/
/*        font-size: 1rem;*/
/*    }*/
/*}*/


@media (min-width: 1270px) and (min-height: 975px) {
    .summary-card {
        width: 8rem;
        height: 8rem;
    }

    .data {
        font-size: 2.5rem;
    }

    .category {
        font-size: 1.25rem;
    }
}

@media (min-width: 1500px) and (min-height: 1050px) {
    .summary-card {
        width: 10rem;
        height: 9rem;
    }

    .data {
        font-size: 3rem;
    }

    .category {
        font-size: 1.5rem;
    }
}
